.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  width: 80%;
  bottom: 1rem;
  button,
  .extra {
    height: 2rem;
    width: 2rem;
    border: none;
    background: rgb(0, 110, 255);
    color: white;
    border-radius: 50%;
    cursor: pointer;
  }
}
#gray {
  background: none;
  color: rgb(0, 110, 255);
  border: 2px solid rgb(0, 110, 255);
}
#disable {
  background: rgb(209, 209, 209);
  cursor: auto;
}
